:root {
  --surface-panel: #131722;
  --surface-inset: #171e27;
  --surface-header: #222a38;
  --surface-header-hover: #2d384b;
  --surface-striped: #131722;
  --surface-hover: #253340;
  --surface-sorted: #131722;
  --surface-border: #2b3541;
  --surface-fixed: #1b2230;
  --surface-fixed-hover: #2b3648;
  --surface-header-fixed: #2a3445;
  --surface-header-fixed-hover: #344157;
}

@font-face {
  font-family: Tektur;
  src: url('./fonts/Tektur/Tektur-VariableFont.ttf');
}

* {
  font-family: Tektur;
}

body {
  background-color: #131722;
  color: #ffffffd1;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.separator {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0;
}