@font-face {
  font-family: Tektur;
  src: url('./fonts/Tektur/Tektur-VariableFont.ttf');
}

* {
  font-family: Tektur;
}

body {
  background-color: #131722;
  color: #ffffffd1;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.separator {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0;
}