TIMESCALEDB_PASSWORD=password
CTRADER_CLIENT_ID=your-ctrader-client-id
CTRADER_SECRET=your-ctrader-secret
CTRADER_ACCESS_TOKEN=your-ctrader-access-token
CTRADER_REFRESH_TOKEN=your-ctrader-refresh-token
CTRADER_HOST_TYPE=demo
ACCOUNT_ID=your-account-id
